venv/
__pycache__/
*.pyc
db.sqlite3
.env
media/
*.venv/
__pycache__/
db.sqlite3

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl